# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Mac
.DS_Store

# Minecraft
run/
logs/
crash-reports/

# Generated
src/generated/
